<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C927D3820DEAA0C00F97FBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C927D4C20DEAA1100F97FBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C927D5720DEAA1100F97FBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
